<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Noticias</title>
		</head>
	<body>

		<h1>Post</h1>

			<table>
				<tr>
					<th>ID</th>
					<th>Titulo</th>
					<th>Texto do Post</th>
				</tr>


				<tr>
					<td><%= post[0].id_post %></td>
					<td><%= post[0].nome_post %></td>
					<td><%= post[0].texto_post %></td>
				</tr>

			</table>
	</body>
</html>
